/Osteocytes culture/data/raw/*
/Osteocytes culture/data/processed/*
# /Osteocytes culture/results/figures/*
# /Osteocytes culture/results/metrics/*
/Osteocytes culture/results/debug/*
# /Osteocytes culture/results/morph_plots/*
/Osteocytes culture/src/__pycache__*
.DS_Store

/.quarto/
